*.pyc
venv
venv/*

#Fan files
test_run.py
app/templates/test_radio.html
myrun.py

#eclipse files
.project
.pydevproject
.settings/

*.db
db_repository
db_repository/*

*.out

ques
ques/*

.idea/*
.idea


