.maindiv {
    max-width: 70%;
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    line-height: 200%;
}

a:hover {
    text-decoration: none;
}

#scrollUp {
    bottom: 20px;
    right: 20px;
    height: 38px;
    width: 38px;
    background: url("../img/top.png") no-repeat;
}

footer {
    text-align: center;
    padding: 30px 0;
}