html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei UI", "Microsoft YaHei", SimHei, simsun, sans-serif;
    background: url(/static/img/plask_back_pic.jpg) fixed;
}

.maindiv {
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    line-height: 200%;
}

.navbar-inverse {
    background-color: #000;
    border-color: #080808;
};

a:hover {
    text-decoration: none;
}

#scrollUp {
    bottom: 20px;
    right: 20px;
    height: 38px;
    width: 38px;
    background: url("../img/top.png") no-repeat;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
}
