{% extends "workflow.html" %}

{% block content_step %}
<div class="col-md-10 col-md-offset-1">
	<h1 class="page-header" style="color:#FFFFFF">Step 1/2 : Basic Information</h1>
	<form action="" method="post" class="form-horizontal">
		<div class="form-group">
			<label for="title" class="control-label col-md-2" style="color:#FFFFFF">Title</label>
			<div class="col-md-5">
				<input class="form-control" id="title" name="title" type="text" value="{{title}}" required/>
			</div>
		</div>
		<div class="form-group">
			<label for="subject" class="control-label col-md-2" style="color:#FFFFFF">Subject</label>
			<div class="col-md-5">
				<input class="form-control" id="subject" name="subject" type="text" value="{{subject}}" required/>
			</div>
		</div>
		<div class="form-group">
			<label for="description" class="control-label col-md-2" style="color:#FFFFFF">Description</label>
			<div class="col-md-5">
				<textarea rows="8" class="form-control" id="description" name="description" required>{{description}}</textarea>
			</div>
		</div>
		<div class="form-group row">
	        <div class="col-md-offset-2 col-md-5">
	            <button class="btn btn-primary" type="submit">Modify
	            </button>
	        </div>
    	</div>
	</form>
</div>
{% endblock %}