{% extends "workflow.html" %}

{% block content_step %}
  <h1 class="page-header" style="color:#FFFFFF">Step 2/2 : Add Questions</h1>

  <div class="col-sm-9 col-md-10">
    <form method="POST">
      <div id="ques_list">
      </div>
      <button class="btn btn-default" type="submit">Submit</button>
    </form>
  </div>

  <div class="col-sm-3 col-md-2 sidebar-right">
    <ul class="nav nav-stacked">
      <li>
        <button class="btn btn-default" onclick="add_question(0)">Single choice</button>
      </li>
      <li>
        <button class="btn btn-default" onclick="add_question(1)">Multiple choice</button>
      </li>
      <li>
      <button class="btn btn-default" onclick="add_question(2)">True or false</button>
      </li>
      <li>
        <button class="btn btn-default" onclick="add_question(3)">Essay</button>
      </li>
    </ul>
  </div>
{% endblock %}