<!-- <html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>new_questionnaire</title> -->
{% extends "base.html" %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename='js/js/new_questionnaire.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/js/jquery.js') }}"></script>
<script type="text/javascript" src="/static/js/new_questionnaire.js"></script>
<!-- <head>
	<script type="text/javascript" src="/static/js/new_questionnaire.js"></script>
	<script type="text/javascript" src="/static/js/jquery.js"></script>
</head>
<body> -->
	<input type="button" onclick="add_question(0)" value="Single choice"/>
	<input type="button" onclick="add_question(1)" value="Multiple choice"/>
	<input type="button" onclick="add_question(2)" value="True or false"/>
	<input type="button" onclick="add_question(3)" value="Essay"/>
	<form method="POST">
	<div id="ques_list">
	<input id="ques.id" name="ques.id" type="hidden" value="id"/>
	{% for i in range(0,schema|length) %}
		<div id="ques_{{i}}.div">
			<input id="ques_{{i}}.type" name="ques_{{i}}.type" type="hidden" value="{{schema[i].type}}"/>
			<input id="ques_{{i}}.description" name="ques_{{i}}.description" type="text" value="{{schema[i].des}}"/>
			<input type="button" value="delete" onclick="delete_question(this)"/>
			<input type="button" value="up" onclick="move_question(this,0)"/>
			<input type="button" value="down" onclick="move_question(this,1)"/>
			{% if schema[i].type==0 %}
			<ul>
				<li>
					<input type="button" onclick="add_option(this,0)" value="new_option"/>
				</li>
			{% for j in range(0,schema[i].opt|length) %}
				<li>
					<input type="radio"/>
					<input id="ques_{{i}}.option_{{j}}" name="ques_{{i}}.option_{{j}}" type="text" value="{{schema[i].opt[j]}}"/>
					<input type="button" value="delete" onclick="delete_option(this)"/>
					<input type="button" value="up" onclick="move_option(this,0)"/>
					<input type="button" value="down" onclick="move_option(this,1)"/>
				</li>
			{% endfor %}
			</ul>
			{% elif schema[i].type==1 %}
			<ul>
				<li>
					<input type="button" onclick="add_option(this,1)" value="new_option"/>
				</li>
			{% for j in range(0,schema[i].opt|length) %}
				<li>
					<input type="checkbox"/>
					<input id="ques_{{i}}.option_{{j}}" name="ques_{{i}}.option_{{j}}" type="text" value="{{schema[i].opt[j]}}"/>
					<input type="button" value="delete" onclick="delete_option(this)"/>
					<input type="button" value="up" onclick="move_option(this,0)"/>
					<input type="button" value="down" onclick="move_option(this,1)"/>
				</li>
			{% endfor %}
			</ul>
			{% elif schema[i].type==2 %}
			<ul>
				<li>
					<input type="radio"/>
					<label>true</label>
				</li>
				<li>
					<input type="radio"/>
					<label>false</label>
				</li>
			</ul>
			{% elif schema[i].type==3 %}
			<br/><input type="text" readonly="true" />
			{% endif %}
		</div>
	{% endfor %}
	</div>
	<input type="submit" class="btn btn-success" value="submit"/>

	</form>
<!-- </body>
</html> -->

	{% endblock %}