{% extends "workflow.html" %}

{% block content_step %}
<script type="text/javascript" >
$(document).ready(function(){
  $("#sidebarli1").attr("class","list-group-item");
  $("#sidebarli2").attr("class","list-group-item active");
});
</script>
  <h1 class="page-header">Step 2/2 : Add Questions</h1>

  <div class="col-sm-9 col-md-10">
    <form method="POST">
      <div id="ques_list">
      </div>
      <button class="btn btn-primary" type="submit">Submit</button>
    </form>
  </div>

 <div class="col-sm-3 col-md-2 sidebar-right" style="background:none;margin-top:100px">
    <ul class="nav nav-stacked">
      <li>
        <button class="btn btn-default btn-block" onclick="add_question(0)">Single Choice</button>
      </li>
      <li>
        <button class="btn btn-default btn-block" onclick="add_question(1)">Multiple Choice</button>
      </li>
      <li>
      <button class="btn btn-default btn-block" onclick="add_question(2)">True or False</button>
      </li>
      <li>
        <button class="btn btn-default btn-block" onclick="add_question(3)">Essay</button>
      </li>
    </ul>
  </div>
{% endblock %}