<!-- <html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>new_questionnaire</title> -->
{% extends "workflow.html" %}

{% block content_step %}
<script type="text/javascript" >
$(document).ready(function(){
	$("#sidebarli1").attr("class","list-group-item");
	$("#sidebarli2").attr("class","list-group-item active");
});
</script>

  <h1 class="page-header" style="color:#FFFFFF">Step 2/2 : Add Questions</h1>
  
<div class="col-sm-9 col-md-10">
  <form method="POST">
    <div id="ques_list">
    <input id="ques.id" name="ques.id" type="hidden" value="id"/>
	{% for i in range(0,schema|length) %}

		<div id="ques_{{i}}.div" class="form-group row well" onmouseover="show_buttons(this,0)" onmouseout="hide_buttons(this,0)">
				<div style="font-size:13px; margin-left:5px;margin-top:-10px;margin-bottom:10px;">
				  {% if schema[i].type=='0' %}
				  <b>Single Choice</b>
				  {% elif schema[i].type=='1' %}
				  <b>Multiple Choice</b>
				  {% elif schema[i].type=='2' %}
				  <b>True or False </b>
				  {% else %}
				  <b>Essay</b>
				  {% endif %}
				 </div>
			<div class="row">
				<input id="ques_{{i}}.type" name="ques_{{i}}.type" type="Hidden" value='{{ schema[i].type }}'>
        <div class="col-md-6">
				  <input id="ques_{{i}}.description" name="ques_{{i}}.description" type="text" class="form-control" placeholder="Enter the question description" value="{{schema[i].description}}">



        </div>
        
				<div class="ques_button" style="display:none">
					<span class="pull-right btn glyphicon glyphicon-trash" onclick="delete_question(this)"></span>
					<span class="pull-right btn glyphicon glyphicon glyphicon-arrow-down" onclick="move_question(this,1)"></span>
					<span class="pull-right btn glyphicon glyphicon glyphicon-arrow-up" onclick="move_question(this,0)"></span>
          {% if schema[i].type == '0' or schema[i].type == '1' %}
					<span class="pull-right btn glyphicon glyphicon-plus" onclick="add_option(this,0)"></span>
          {% endif %}
				</div>
			</div>{% if schema[i].type == '0' or schema[i].type == '1' %}<ul class="form-inline" style="list-style-type:none">
				{% for j in range(0,schema[i].options|length) %}
				<li class="row" onmouseover="show_buttons(this,1)" onmouseout="hide_buttons(this,1)">
					<input class="form-control col-md-7" type="text" id="ques_{{i}}.option_{{j}}" name="ques_{{i}}.option_{{j}}" value="{{schema[i].options[j]}}"><div class="col-md-5 option_button" style="display:none">
						<span class="btn glyphicon glyphicon-arrow-up" onclick="move_option(this,0)"></span>
						<span class="btn glyphicon glyphicon-arrow-down" onclick="move_option(this,1)"></span>
						<span class="btn glyphicon glyphicon-trash" onclick="delete_option(this)"></span>
					</div>
				</li>
				{% endfor %}
			</ul>
			{% endif %}
		</div>
	{% endfor %}
	</div>
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
</div>

  <div class="col-sm-3 col-md-2 sidebar-right" style="background:none;margin-top:100px">
    <ul class="nav nav-stacked">
      <li>
        <button class="btn btn-default btn-block" onclick="add_question(0)">Single Choice</button>
      </li>
      <li>
        <button class="btn btn-default btn-block" onclick="add_question(1)">Multiple Choice</button>
      </li>
      <li>
      <button class="btn btn-default btn-block" onclick="add_question(2)">True or False</button>
      </li>
      <li>
        <button class="btn btn-default btn-block" onclick="add_question(3)">Essay</button>
      </li>
    </ul>
  </div>
{% endblock %}