<html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>new_questionnaire</title>
<head>
	<script type="text/javascript" src="/static/js/new_questionnaire.js"></script>
	<script type="text/javascript" src="/static/js/jquery.js"></script>
</head>
<body>
	<form method="POST">
	<input id="title" name="title" type="text" value="{{title}}"/>
	<input id="subject" name="subject" type="text" value="{{subject}}"/>
	<input id="description" name="description" type="text" value="{{description}}"/>
	<input type="submit" value="submit"/>
	</form>
</body>
</html>