{% extends "message.html" %}

{% block message_action %}
	<!--<p>URL: <a id="Url_Change" href="http://192.168.43.164:5000/questionnaire/{{q_id}}/fill">http://192.168.43.164:5000/questionnaire/{{q_id}}/fill</a></p>-->
	
<script>
	window.onload=function(){
		var test="http://"+document.location.host;
		test+="/questionnaire/{{q_id}}/fill";
		document.getElementById("Url_Change").setAttribute("href",test);
		document.getElementById("Url_Change").innerHTML=test;
	}
</script>

<p style="color:white;font-size:16px">URL: <a id="Url_Change" href=""></a></p>

<br/>

<a class="btn btn-default" href="{{url_for('questionnaire', questionnaire_id=q_id)}}">Questionnaire Dashboard</a>

{% endblock %}