{% extends "base.html" %}

{% block head %}
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css') }}"/>
<script type="text/javascript" src="{{ url_for('static', filename='js/sidebar.js') }}"></script>
{% endblock %}

{% block content %}

<div class="container-fluid">
<div class="col-md-10 col-md-offset-1">
<div class="col-md-1">
  <div id="plask-sidebar" class="plask-sidebar hidden-print hidden-xs hidden-sm">
    <ul class="nav plask-sidenav">
      <li>
        <a href="#questionnaire_created" style="color:#FFFFFF"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;Created</a>
      </li>
      <li>
        <a href="#questionnaire_answered" style="color:#FFFFFF"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;Answered</a>
      </li>
    </ul>
  </div>
</div>

<div class="col-md-11">
    
	<form method="POST">

    {% if g.user == user %}
        <h3 style="margin-top:25px; color:#FFFFFF">Welcome, {{user.username}} <a class="btn btn-success btn-m pull-right" role="button" href="{{url_for('create')}}" style="margin-top:-5px">Create Questionnaire</a></h3>
    {% else %}
        <h3 style="color:#FFFFFF">{{user.username}}({{user.mail}})</h3>
    {% endif %}

 
    <div><h2 id="questionnaire_created" style="color:#FFFFFF">Questionnaire Created:</h2>
    </div>



	<div id="ques_list_created">
		<div class="panel panel-default">
		<table id="proj_list" class="table table-striped">
			<thead>
			<tr class="thead_td" class="row fluid">

			<td  class="sequence" id="proj_title"><h5>Title</h5></td>

			<td  class="sequenceup" id="proj_start"><h5>Start Time</h5></td>
			<td  class="sequenceup" id="proj_end"><h5>End Time</h5></td>


			<td ><h5>Status</h5></td>
			<td  class="alignc"><h5>Replies</h5></td>
			<td ><h5>Information</h5></td>
			</tr>
			</thead>



			<tbody val="ttt">
			{% for i in range(0,ques_list_created|length) %}

			<tr id="{{ques_list_created[i].id}}">

			<td>
			<span id="title" class="title">

			<a href="{{url_for('questionnaire', questionnaire_id=ques_list_created[i].id)}}">{{ques_list_created[i].title}}</a>

			</span>
			</td>
			<td>{{ques_list_releases[i].start_time.strftime("%Y-%m-%d %H:%M") if ques_list_releases[i] else "Not yet"}}</td>
			<td>{{ques_list_releases[i].end_time.strftime("%Y-%m-%d %H:%M") if ques_list_releases[i] else "Not yet"}}</td>
			<td>
				{{ques_list_created[i].get_status()}}
			</td>
			<td class="alignc" id="rspd_count_53b14bc8f7405b3c14ecd22e" pid="53b14bc8f7405b3c14ecd22e">{{ques_list_created[i].quesanswers.count()}}</td>
			<td>
                <a class="btn btn-xs btn-default" href="{{url_for('questionnaire', questionnaire_id=ques_list_created[i].id)}}">Details</a>

			</td>





			</tr>
			{% endfor %}
			</tbody>
		</table>
		</div>
	</div>

	    <h2 id="questionnaire_answered" style="color:#FFFFFF">Questionnaire Answered:</h2>
	<div id="ques_list_filled">
		<div class="panel panel-default">
		<table id="proj_list" class="table table-striped">
			<thead>
			<tr class="row fluid">

			<td  class="col-md-4" id="proj_title"><h5>Title</h5></td>

			<td  class="col-md-4" id="proj_updated"><h5>Last Answer</h5></td>


			<td  class="col-md-4"><h5>Status</h5></td>
			<td  class="col-md-4"><h5>Information</h5></td>
			</tr>
			</thead>
			<tbody val="ttt">
			{% for ans in ques_ans_list%}
			<tr id="{{ans.questionnaire.id}}" class="row fluid">

			<td class="col-md-4">
			<span id="title" class="title">

			<a href="{{url_for('questionnaire', questionnaire_id=ans.questionnaire.id)}}">{{ans.questionnaire.title}}</a>

			</span>
			</td>
			<td class="col-md-4">{{ans.date.strftime("%Y-%m-%d %H:%M")}}</td>
			<td>
			{{ans.questionnaire.get_status()}}
			</td>
			<td class="col-md-4 center">
                <a class="btn btn-xs btn-default" href="{{url_for('questionnaire', questionnaire_id=ans.questionnaire.id)}}">Details</a>
			</td>
			</tr>
			{% endfor %}
			</tbody>
		</table>
		</div>
	</div>
	</form>

</div>
</div>
</div>
{% endblock %}



