{% extends "base.html" %}

{% block head %}
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/workflow.css') }}">
  <script type="text/javascript" src="{{ url_for('static',filename='js/new_questionnaire.js') }}"></script>
{% endblock %}

{% block content %}
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-3 col-md-2 sidebar" style="background:none;margin-top:100px">
            <ul class="list-group" style="line-height:15px">
              <li class="list-group-item">
                <b style="font-family:Menlo;font-size:18px;line-height:30px">Step Tips:</b>
              </li>
              <li id="sidebarli1" class = "list-group-item active">
                <p>1: Basic Information</p>
              </li>
              <li id="sidebarli2" class = "list-group-item" style="">
                <p>2: Add Questions</p>
              </li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-2 main">
          {% block content_step %}{% endblock %}
        </div>
      </div>
    </div>
{% endblock %}